header{
     backgroud: #BBBBBB
}

.caixa{
     width: 940px;
}

nav li {
     position:  absolute;
     top: 110px;
     right:0;
}

 nav li {
      display:incline;
      margin 0 0 0 15px
}

nav a {
     text-trasform: uppercase;
     color: #000000;
     front-weigth: bold;
     front-size: 22px;
     text-decoration: nome;
}
     
